html {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;

}
*, 
*::before,
*::after {
box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}
.title {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 59px;
  line-height: 65px;
  text-align: center;
}
.green-btn {
  color: #fff;
  background: rgb(97,131,36);
  background: linear-gradient(0deg, rgba(97,131,36,1) 0%, rgba(126,163,44,1) 35%);
  box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.11);
  font-weight: 700;
  border-radius: 25px;
}
.angle-right {
  &::before {
    content: '';
    background-image: url(../images/icons/arrow-red-right.svg);
    width: 11px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 0;
  }
}
@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

